<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.framework.plms.sub.lime.bean.mvc.mapper.organization.LimeUserAccountMapper">
	
	<!-- 사원 등록 -->
	<insert id="insertUserAccount" parameterType="egov.framework.plms.main.bean.mvc.entity.organization.UserAccountVO">
	/* LimeUserAccountMapper insertUserAccount */
		INSERT INTO org_user_account (
			userId, userPw, salt
		)
		VALUES (
			#{userId}, #{userPw}, #{salt}
		)
	</insert>
	
	<!-- 사원 정보 수정 -->
	<update id="updateUserAccount" parameterType="egov.framework.plms.main.bean.mvc.entity.organization.UserAccountVO">
	/* LimeUserAccountMapper updateUserAccount */
		UPDATE org_user_account
		<set>
			<if test='userPw != null and userPw.trim().length() > 0'>
				,userPw = #{userPw}
			</if>
			<if test='salt != null and salt.trim().length() > 0'>
				,salt = #{salt}
			</if>
			<if test='status != null'>
				,status = #{status}
			</if>
			<if test='failedAttempts != null'>
				,failedAttempts = #{failedAttempts}
			</if>
			<if test='lockoutDateTime != null'>
				,lockoutDateTime = #{lockoutDateTime}
			</if>
		</set>
		<where>
			AND userId = #{userId}
		</where>
	</update>
	
	<select id="selectUserAccountOne" resultType="egov.framework.plms.main.bean.mvc.entity.organization.UserAccountVO">
	/* LimeUserAccountMapper selectUserAccountOne */
		SELECT *
		FROM org_user_account
		WHERE userId = #{userId}
	</select>
	
	<select id="selectUserAccountList" parameterType="egov.framework.plms.main.bean.mvc.entity.organization.UserAccountVO" resultType="egov.framework.plms.main.bean.mvc.entity.organization.UserAccountVO">
	/* LimeUserAccountMapper selectUserAccountList */
		SELECT *
		FROM org_user_account
		<where>
		<include refid="selectUserAccountListCondition"></include>
		</where>
	</select>
	
	<sql id="selectUserAccountListCondition">
		<if test='status != null'>
			AND status = #{status}
		</if>
		<if test='failedAttempts != null'>
			AND failedAttempts = #{failedAttempts}
		</if>
		<if test='lockoutDateTime != null'>
			AND lockoutDateTime = #{lockoutDateTime}
		</if>
	</sql>
</mapper>