<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egov.framework.plms.main.bean.mvc.mapper.admin.DomainRosterMapper">
	<select id="getDomainAdminList" parameterType="egov.framework.plms.main.bean.mvc.entity.admin.AdminRosterVO" resultType="egov.framework.plms.main.bean.mvc.entity.admin.AdminRosterVO">
	/* AdminMapper getDomainAdminList */
		SELECT 
		userId,
		domainRole
		FROM admin_domain_info
		<where>
		<if test='userId != null'>
		userId = #{userId}
		</if>
		<if test='domainRole != null'>
		domainRole = #{domainRole}
		</if>
		</where>
	</select>
	<insert id="postDomainAdmin" parameterType="egov.framework.plms.main.bean.mvc.entity.admin.AdminRosterVO">
		/* AdminMapper postDomainAdmin */
		INSERT INTO admin_domain_info
				( userId, domainRole)
			 VALUES
			    ( #{userId}, #{domainRole})
	</insert>
	<delete id="deleteDomainAdmin" parameterType="egov.framework.plms.main.bean.mvc.entity.admin.AdminRosterVO">
		/* AdminMapper deleteDomainAdmin */
		DELETE FROM admin_domain_info
		<where>
	  	AND userId = #{userId}
	    AND domainRole = #{domainRole}
	    </where>
	</delete>
</mapper>