<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.framework.plms.main.bean.mvc.mapper.file.FileRelationMapper">
	<!-- 파일 관계 등록 -->
	<insert id="insertFileRelationOne" parameterType="egov.framework.plms.main.bean.mvc.entity.file.FileRelationVO" useGeneratedKeys="true" keyProperty="relationId">
	/* FileRelationMapper insertFileRelationOne */
		INSERT INTO drive_file_relation(
			registerId, fileId, 
			relatedEntityId, relatedEntityType, relationType
		)
		VALUES(
			#{registerId}, #{fileId}, 
			#{relatedEntityId}, #{relatedEntityType}, #{relationType}
		)
	</insert>
	
	<!-- 파일 관계 삭제 -->
	<delete id="deleteFileRelationOne" parameterType="integer">
	/* FileRelationMapper deleteFileRelationOne */
		DELETE 
		FROM drive_file_relation
		WHERE relationId = #{relationId}
	</delete>
	
	<!-- 파일 관계 목록 삭제 -->
	<delete id="deleteFileRelationList" parameterType="egov.framework.plms.main.bean.mvc.entity.file.FileRelationVO">
	/* FileRelationMapper deleteFileRelationList */
		DELETE 
		FROM drive_file_relation
		<where>
			<if test="fileId != null">AND fileId=#{fileId}</if>
	        <if test="relatedEntityType != null">AND relatedEntityType=#{relatedEntityType}</if>
	        <if test="relatedEntityId != null">AND relatedEntityId=#{relatedEntityId}</if>
			<if test="relationType != null">AND relationType=#{relationType}</if>
		</where>
	</delete>
</mapper>