<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.framework.plms.sub.lime.bean.mvc.mapper.meeting.LimeMeetingFileInfoMapper">
	<sql id="withFileDetail">
	file_detail AS (
		SELECT fi.*, fr.relationType, fr.relatedEntityId, fr.relatedEntityType
	    FROM drive_file_info fi
	    LEFT JOIN drive_file_relation fr ON fi.fileId = fr.fileId
	)
	</sql>
	<sql id="withMeetingFileDetail">
	file_detail AS (
		SELECT fi.*, fr.relationType, fr.relatedEntityId, fr.relatedEntityType
	    FROM drive_file_info fi
	    JOIN drive_file_relation fr 
	    ON fi.fileId = fr.fileId
	    AND fr.relatedEntityType = 10
	)
	</sql>
	<sql id="selectSharedFileList">
		SELECT * FROM file_detail
		<where>
		AND delYN='N'
		AND relatedEntityId = #{relatedEntityId}
		AND relationType IN (103, 100)
		</where>
	</sql>
	
	<sql id="selectPrivateFileList">
		SELECT * FROM file_detail
		<where>
		AND delYN='N'
		AND relatedEntityId = #{relatedEntityId}
		AND uploaderId = #{uploaderId}
		AND relationType IN (101, 102)
		</where>
	</sql>
	
	<!-- 회의 전체 파일 검색 -->
	<select id="getMeetingFileList" parameterType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO" resultType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO">
	/* LimeMeetingFileInfoMapper getMeetingFileList */
		WITH <include refid="withMeetingFileDetail"></include>
		SELECT files.*
		FROM (
			<include refid="selectSharedFileList"></include>
			UNION ALL
			<include refid="selectPrivateFileList"></include>
		) files
		<where>
		<if test='sourceId != null'> AND files.sourceId = #{sourceId}</if>
		<if test="uploadedFileName neq null">
			AND files.uploadedFileName = LIKE CONCAT('%',#{uploadedFileName},'%')
		</if>
		<if test='fileStatus != null'> AND files.fileStatus = #{fileStatus}</if>
		<if test='relationType != null'> AND files.relationType = #{relationType}</if>
		</where>
		ORDER BY FIELD(files.relationType, 103, 100, 101, 102), files.fileLabel
	</select>
	
	<!-- 회의 공유 파일 검색 -->
	<select id="getMeetingSharedFileList" parameterType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO" resultType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO">
	/* LimeMeetingFileInfoMapper getMeetingSharedFileList */
		WITH <include refid="withMeetingFileDetail"></include>
		<include refid="selectSharedFileList"></include>
		ORDER BY FIELD(relationType, 103, 100), fileLabel
	</select>
	
	<!-- 회의 개인 파일 검색 -->
	<select id="getMeetingPrivateFileList" parameterType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO" resultType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO">
	/* LimeMeetingFileInfoMapper getMeetingPrivateFileList */
		WITH <include refid="withMeetingFileDetail"></include>
		<include refid="selectPrivateFileList"></include>
		ORDER BY FIELD(relationType, 101, 102), fileLabel
	</select>
	
	<select id="selectMeetingMaterialFilesToGenerateImages" resultType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO">
	/* LimeMeetingFileInfoMapper selectMeetingMaterialFilesToGenerateImages */
	/* NO_SQL_LOG */
		WITH <include refid="withMeetingFileDetail"></include>
		SELECT * FROM file_detail
	    <where>
	    AND relationType = 100
	    AND pdfGeneratedYN = 'Y'
	    AND pageImagesGeneratedYN = 'N'
	    AND conversionStatus IN (0, 300)
	    AND delYN = 'N'
	    </where>
	</select>
	
	<select id="selectMeetingCopyFilesToIntegrateImages" resultType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO">
	/* LimeMeetingFileInfoMapper selectMeetingCopyFilesToIntegrateImages */
	/* NO_SQL_LOG */
		WITH <include refid="withMeetingFileDetail"></include>
		SELECT * FROM file_detail
	    <where>
	    AND relationType = 102
	    AND webpGeneratedYN = 'N'
	    AND fileStatus = 210
	    AND conversionStatus IN (0, 300)
	    AND delYN = 'N'
	    </where>
	</select>
	
	<select id="selectMeetingCopyFilesToGeneratePdf" resultType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO">
	/* LimeMeetingFileInfoMapper selectMeetingMaterialFilesToConvertToImages */
	/* NO_SQL_LOG */
		WITH <include refid="withMeetingFileDetail"></include>
		SELECT * FROM file_detail
	    <where>
	    AND relationType = 102
	    AND pdfGeneratedYN = 'N'
	    AND webpGeneratedYN = 'Y'
	    AND fileStatus = 210
	    AND conversionStatus IN (0, 300)
	    AND delYN = 'N'
	    </where>
	</select>
	
	<select id="selectMeetingMemoFilesToIntegrateImages" resultType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO">
	/* LimeMeetingFileInfoMapper selectMeetingCopyFilesToIntegrateImages */
	/* NO_SQL_LOG */
		WITH <include refid="withMeetingFileDetail"></include>
		SELECT * FROM file_detail
	    <where>
	    AND relationType = 101
	    AND webpGeneratedYN = 'N'
	    AND fileStatus = 210
	    AND conversionStatus IN (0, 300)
	    AND delYN = 'N'
	    </where>
	</select>
	
	<select id="selectMeetingMemoFilesToGeneratePdf" resultType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO">
	/* LimeMeetingFileInfoMapper selectMeetingMaterialFilesToConvertToImages */
	/* NO_SQL_LOG */
		WITH <include refid="withMeetingFileDetail"></include>
		SELECT * FROM file_detail
	    <where>
	    AND relationType = 101
	    AND pdfGeneratedYN = 'N'
	    AND webpGeneratedYN = 'Y'
	    AND fileStatus = 210
	    AND conversionStatus IN (0, 300)
	    AND delYN = 'N'
	    </where>
	</select>
	
	<!-- 참가한 회의 자료 목록 -->
	<resultMap id="archiveMap" type="egov.framework.plms.main.bean.mvc.entity.meeting.MeetingArchiveVO">
		<id javaType="integer" column="scheduleId" property="scheduleId"></id>
		<result javaType="string" column="officeCode" property="officeCode"></result>
		<result javaType="string" column="deptId" property="deptId"></result>
		<result javaType="egov.framework.plms.main.core.model.enums.meeting.RoomType" column="roomType" property="roomType"></result>
		<result javaType="integer" column="roomId" property="roomId"></result>
		<result javaType="integer" column="meetingId" property="meetingId"></result>
		<result javaType="java.time.LocalDate" column="holdingDate" property="holdingDate"></result>
		<result javaType="java.time.LocalDateTime" column="beginDateTime" property="beginDateTime"></result>
		<result javaType="java.time.LocalDateTime" column="finishDateTime" property="finishDateTime"></result>
		<result javaType="string" column="scheduleHost" property="scheduleHost"></result>
		<result javaType="string" column="title" property="title"></result>
		<collection property="files" javaType="list" ofType="egov.framework.plms.main.bean.mvc.entity.file.FileDetailVO">
			<id javaType="integer" column="fileId" property="fileId"></id>
			<result javaType="integer" column="relatedEntityId" property="relatedEntityId"></result>
			<result javaType="string" column="uploaderId" property="uploaderId"></result>
			<result javaType="string" column="uploadedFileName" property="uploadedFileName"></result>
			<result javaType="string" column="fileLabel" property="fileLabel"></result>
			<result javaType="string" column="fileExt" property="fileExt"></result>
			<result javaType="long" column="fileSize" property="fileSize"></result>
			<result javaType="integer" column="pageCount" property="pageCount"></result>
			<result javaType="java.lang.Character" column="pdfGeneratedYN" property="pdfGeneratedYN"></result>
			<result javaType="java.lang.Character" column="pageImagesGeneratedYN" property="pageImagesGeneratedYN"></result>
			<result javaType="java.lang.Character" column="webpGeneratedYN" property="webpGeneratedYN"></result>
			<result javaType="egov.framework.plms.main.core.model.enums.file.RelationType" column="relationType" property="relationType"></result>
			<result javaType="egov.framework.plms.main.core.model.enums.file.FileCategory" column="fileCategory" property="fileCategory"></result>
			<result javaType="egov.framework.plms.main.core.model.enums.file.FileStatus" column="fileStatus" property="fileStatus"></result>
			<result javaType="egov.framework.plms.main.core.model.enums.file.ConversionStatus" column="conversionStatus" property="conversionStatus"></result>
		</collection>
	</resultMap>
	<!-- 사용신청 및 회의자료 조회 -->
	<select id="selectMeetingArchiveList" parameterType="egov.framework.plms.main.bean.mvc.entity.meeting.MeetingArchiveVO" resultMap="archiveMap">
	/* LimeMeetingAssignMapper getMeetingArchiveList */
	/* 페이지네이션을 위해 사용신청을 우선 제한개수만큼 조회 한 후 file_info와 조인하여 결과 조회 */
		WITH <include refid="withMeetingFileDetail"></include>
		
		SELECT 	archive.*,
				file.*
		FROM file_detail file
		JOIN (
			SELECT result.*
			FROM (
				<include refid="meetingArchiveListSearch"></include>
			) result
			ORDER BY result.beginDateTime desc
			<if test="offset neq null">
			LIMIT #{offset}, #{limit}
			</if>
		) archive
		ON file.relatedEntityId = archive.meetingId
		AND file.delYN = 'N'
		AND (  (relationType = 102 AND uploaderId = #{writerId})
			OR (relationType = 101 AND uploaderId = #{writerId})
			OR relationType = 100
			OR relationType = 103
			OR relationType = 104
			OR relationType = 105
		)
		<if test="uploadedFileName neq null and uploadedFileName != ''.toString()">
		AND file.uploadedFileName LIKE CONCAT('%',#{uploadedFileName},'%')
		</if>
		ORDER BY archive.beginDateTime desc, FIELD(relationType, 103, 100, 102, 101)
	</select>
	
	<sql id="meetingArchiveListSearch">
		SELECT 	skd.scheduleId, meet.meetingId, skd.roomType, 				/* 스케줄키, 사용신청키, 회의키, 장소유형 */
				skd.holdingDate, skd.beginDateTime, skd.finishDateTime,	/* 예정일, 시작일자, 종료일자 */
				skd.scheduleHost, meet.title 	/* 주관자, 제목 */
		FROM meeting_schedule skd
		JOIN meeting_info meet 
		ON skd.meetingId = meet.meetingId AND skd.delYN = 'N'
		AND meet.meetingStatus = "END"
		<where>
			AND skd.holdingDate BETWEEN STR_TO_DATE(IFNULL(#{startDate}, NOW()),'%Y-%m-%d') AND STR_TO_DATE(IFNULL(#{endDate}, NOW()),'%Y-%m-%d')
			AND meet.meetingId IN (SELECT relatedEntityId FROM file_detail WHERE delYN = 'N')
			<if test="scheduleHost neq null and scheduleHost != ''.toString()">
				AND skd.scheduleHost LIKE CONCAT('%',#{scheduleHost},'%')
			</if>
			<if test="title neq null and title != ''.toString()">
				AND meet.title LIKE CONCAT('%',#{title},'%')
			</if>
			<if test="writerId neq null">
				AND 1 = FUNC_IS_USER_HAS_MEETING_AUTH(#{writerId}, skd.meetingId, 'FUNC_VIEW')
			</if>
			<if test="deptId neq null">
				AND 1 = FUNC_IS_DEPT_HAS_MEETING_AUTH(#{deptId}, skd.meetingId, 'FUNC_VIEW')
			</if>
			<if test="relationType neq null">
				AND EXISTS(SELECT * FROM file_detail copy WHERE meet.meetingId = copy.relatedEntityId AND copy.relationType = #{relationType} AND copy.uploaderId = #{writerId})
			</if>
		</where>
	</sql>
</mapper>